<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Sakha</title>
</head>

<body>
    <header>
        <h1>Sakha</h1>
    </header>

    <div class="grid-container">
        <!-- <div class="grid-item">Turn wifi off
            <br>
            <button class="btn">Execute</button>
            <button class="btn">Schedule</button>
        </div>
        <div class="grid-item">Turn wifi off</div>
        <div class="grid-item">Turn wifi off</div>
        <div class="grid-item">Turn wifi off</div>
        <div class="grid-item">Turn wifi off</div>
        <div class="grid-item">Turn wifi off</div>
        <div class="grid-item">Turn wifi off</div>
        <div class="grid-item">Turn wifi off</div>
        <div class="grid-item">Turn wifi off</div>
        <div class="grid-item">Turn wifi off</div>
        <div class="grid-item">Turn wifi off</div>
        <div class="grid-item">Turn wifi off</div>
        <div class="grid-item">Turn wifi off</div>
        <div class="grid-item">Turn wifi off</div>
        <div class="grid-item">Turn wifi off</div>
        <div class="grid-item">Turn wifi off</div> -->
    </div>
</body>

<script src="../static/js/taskscript.js"></script>

</html>